*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-header{
    width: 100%;
    min-height: 75px;
    position: fixed;
    background-color: brown;
    color: white;
    font-family: monospace;
    position: sticky;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 18px;
}

