*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-header{
    width: 100%;
    min-height: 75px;
    position: fixed;
    background-color: brown;
    color: white;
    font-family: monospace;
    position: sticky;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 18px;
}

.main-gif{
    background-image: url('https://i.pinimg.com/originals/d7/ca/ae/d7caae08063392f75323e4f8feb8cfc6.gif');
    background-size: cover;
    height: 600px;
    z-index: 1;
}

form{
    position: absolute;
    height: 350px;
    width: 300px;
    background-color: white;
    top: 60px;
    left: 250px;
    z-index: 1;
    visibility: hidden;
}

label{
    padding-left: 30px;
}

.input-1{
    margin-top: 30px;
}

.input-2{
    margin-top: 20px;
}

#btn{
    position: relative;
    padding: 5px 5px;
    border-radius: 20px;
    background-color: brown;
    color: white;
}

#btn:hover{
    background-color: white;
    color: black;
}

.search{
    margin-top: 20px;
    width: 300px;
    max-width: 100%;
}

.input-3{
    position: relative;
    left: 80px;
    padding: 5px 65px;
    background-color: brown;
    color: white;
}

textarea{
    margin-top: 20px;
    position: relative;
    left: 82px;
}

#slider{
    width: 250px;
    height: 415px;
    position: absolute;
    overflow: hidden;
    right: 20px;
    top: 260px;
    background-color: white;
    opacity: 0.8;
    border-radius: 10px;
}

#slider img{
    width: 100%;
    height: 100%;
}

.slider-text{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.6);
    color: #fff;
    width: 100%;
    height: 50%;
    padding: 10px;
}

.slider-test h3{
    margin: 0;
    font-size: 24px;
}

.slider-test p{
    margin: 5px 0 0;
    font-size: 18px;
    /* font-size: 18px;    */
}

#button-card{
    position: relative;
    margin-top: 20px;
  }

#availabel-items{
    margin: 2rem;
}

.inventory{
    text-align: center;
    border: grey solid 1px;
    padding: 1rem;
    width: 17rem;
    height: 25rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px brown;
}

.img-inventory{
    justify-self: center;
    height: 12rem;
    width: 250px;
    padding-right: 10px;
}

.buy-btn{
    position: relative;
    background-color: brown;
    border: none;
    border-radius: 5px;
    height: 3rem;
    width: max-content;
    color: whitesmoke;
    font-size: 18px;
    justify-self: center;
    padding: 0px 20px;
}
